# Alle Skripte
*.py

# Rohdaten
hltv_match_details_cleaned_parallel.json
hltv_match_results.csv
hltv_match_errors.json
events.json
outputs/
reports/

# Python
__pycache__/
*.pyc
*.pyo

# docs/ wird committet (GitHub Pages)
!docs/